/*Hiding the scrollbar for the mainpage since its in the main panel*/
html {
  overflow: hidden;
  height: 100%;
}

/*Hiding the scrollbar and removing whitespace around the edges*/
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

/*Formatting the header of the mainpage*/
h1 {
  font-size: 100px; 
  font-family: Courier New;
  color: white; 
  margin: 0; 
  position: absolute; 
  top: 5%;
  left: 50%; 
  margin-right: -50%; 
  transform: translate(-50%, -50%);
}

/*Formatting the Scene Meme text in the navigation bar*/
#titleName {
  font-size: 40px; 
  font-family: Courier New;
  color: white; 
  margin: 0;
  padding-top: 1%; 
  top: 20%; 
}

/*Setting up the navigation to allow for it to allows stay at top of screen*/
#navigation-bar {
  position: sticky;
  top: 0;
  background-color: black;
  height: 75px;
  width: 100%;
}

/*Setting the look of the buttons in the navigation bar only*/
#navigation-bar button {
	background-color:#16495c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
  margin-top: 5px;
	padding:20px 40px;
	text-shadow:0px 2px 0px #5b6178;
}

/*Setting up the main part of the screen display settings*/
#more-view {
  background-color: #1d1d1d;
  color: whitesmoke;
  overflow-y: scroll;
  position: relative; 
  scrollbar-color: aqua;
  height: 93vh;
}

/*Setting up how the post squares look*/
figure {
  border : 1px solid #ddd;
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right:auto;
  width: 45%;
}

/*Setting up how the caption looks for the post squares*/
figcaption {
  background-color: white;
	color:black;
	font-family: Arial;
	font-size:30px;
	font-weight:bold;
  text-align: center;
  word-wrap: break-word;
	text-shadow:0px 2px 0px #5b6178;
  padding: 20px;
}

/*Setting up the look of the buttons inside of the post squares*/
figcaption button {
  background-color:#287f9e;
  color:#ffffff;
  font-family:Courier New;
	font-size:18px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 150px; 
  height: 45px;
}

/*Basic image setting to make them work with figures*/
img {
  margin: 4px;
  width: 99%;
}

/*Table settings for the gallery page*/
table, tr, td {
  border: 10px solid black;
  background-color: #1d1d1d;
}

/*Color for the caption*/
caption {
  background-color: #1d1d1d;
  color:#ffffff;
}

/*Table data settings*/
th, td {
  height: 300px;
  width: 850px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #16495c;
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid black;
  width: 45%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Formatting for the Tag cloud*/
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 100%;
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(data-weight number); 
  */
  --size: 4;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}