html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

#navigation-bar {
  position: sticky;
  top: 0;
  background-color: black;
  height: 75px;
  width: 100%;
}

#navigation-bar button {
	background-color:#16495c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
  margin-top: 5px;
	padding:20px 40px;
	text-shadow:0px 2px 0px #5b6178;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px #16495c;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  background-color: #16495c;
  border-color: black;
  border-style: solid;
  color: aqua;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

#more-content {
  background-color: #1d1d1d;
  color: whitesmoke;
  overflow-y: scroll;
  position: relative; 
  scrollbar-color: aqua;
  height: 93vh;
}

figure {
  border : 1px solid #ddd;
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right:auto;
  width: 45%;
}

figcaption {
  background-color: white;
	color:black;
	font-family: Arial;
	font-size:30px;
	font-weight:bold;
  text-align: center;
  word-wrap: break-word;
	text-shadow:0px 2px 0px #5b6178;
  padding: 20px;
}

figcaption button {
  background-color:#287f9e;
  color:#ffffff;
  font-family:Courier New;
	font-size:18px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 150px; 
  height: 45px;
}

img {
  margin: 4px;
  width: 99%;
}