html {
    background-color: #1d1d1d;
    color: white;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #1d1d1d;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 100%;
}


#TitleHeader {
    position: sticky;
    background-color: black;
    top: 0;
    width: 100%;
}